.Container-All-NewPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container-All-NewPassword input {
    height: 35px;
    margin: 10px;
    width: 250px;
}

.Container-All-NewPassword button {
    margin-top: 15px;
    height: 50px;
    width: 150px;
    font-size: 18px;
}

.Container-All-NewPassword button:hover {
    cursor: pointer;
}

.Container-All-NewPassword p {
    color: rgb(213, 65, 65);
    font-size: 18px;
}