.Container-All-Contact {
    display: flex;
    justify-content: center;
}

.Container-Contact {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 550px;
}

.Container-Contact h1 {
    display: flex;
    justify-content: center;
}

.Container-Contact input {
    height: 25px;
    margin: 10px;
}

.Container-Contact textarea {
    margin: 10px;
    max-width: 475px;
    min-width: 475px;
    max-height: 125px;
    min-height: 125px;
}

.Container-Button-Contact {
    display: flex;
    justify-content: center;
}

.Container-Button-Contact button {
    margin-top: 25px;
    height: 50px;
    border: 15px;
    width: 150px;
    margin-right: 0px;
    font-size: 18px;
}

.Container-Button-Contact button:hover {
    cursor: pointer;
}

.Container-Contact p {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: rgb(213, 65, 65);
}

